body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
}

* {
	box-sizing: border-box;
}


h1 {
	font-size: 38px;
	font-weight: bold;
	padding-top: 5px;
	color: #FF9900;
}

h1.logo {
	float: left;
	margin-bottom: 15px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	padding-top: 5px;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	color: #424242;
	width: 600px;
	height: 200px;
	padding-top: 50px;
	margin: 0 auto;
} 


h4 {
	font-family: "Indie Flower", cursive;
	font-size: 32px;
}

p {
	font-family: "Indie Flower", cursive;
}

a {
	color: #3299BB;
}


section {
	height: 740px;
	width: 100%;
	opacity: 0.85;
}

.box {
	background-color: white;
	width: 550px;
	height: 260px;
}

#forward {
	background-color: #FF9900;
	float: right;
}

#home {
	background-color: #BCBCBC;
	height: 760px;
}

#about {
	background-color: #E9E9E9;
	height: 800px;
}

#contact {
	background-image: url("https://lh4.googleusercontent.com/-zhVXLMii7aE/S_x-9pbqHBI/AAAAAAAAIok/9rX7M7vEsoU/w2142-h1424-no/DSC_0772.JPG");
}

nav {
	clear: both;
	padding-top: 20px;
	margin: 0 auto;
	z-index: 15;
	padding-left: 50px;
}

.nav-wrapper {
	background: #424242;
	width: 100%;
	position: static;
	height: 85px;
	z-index: 15;
}


nav li {
	display: inline-block;
	width: 100px;
	z-index: 15;
	margin: 0 auto;
}

nav li a:active {
	border: 3px dotted rgb(236, 219, 199);
	transition: .5s;
	z-index: 20;
	margin: 0 auto;
	color: #FF9900;
}

nav li a {
	background: #424242;
	transition: .3s;
	font-size: 18px;
	margin: 100px auto;
	z-index: 15;
	font-family: "Indie Flower", cursive;
	margin-top: 100px;
}

nav li a:hover {
	border: 3px dotted rgb(236, 219, 199);
	transition: .5s;
	z-index: 15;
	margin: 0 auto;
	color: #FF9900;
}


#about-para {
	padding-top: 90px;
	width: 850px;
	margin: 0 auto;
}

#about-para h2 {
	padding-top: 40px;
	margin-top: 20px;
	height: 80px;
	margin-bottom: 10px;
}

#about-para h3 {
	height: 25px;
	width: 850px;
	padding-top: 5px;
} 

div#about-para h3 {
	margin-top: 0px;
	padding-top: 0px;
}

#about-para li {
	font-family: "Indie Flower", cursive;
	font-size: 20px;
	padding-bottom: 10px;
}

img#copycat-img {
	margin-top: 15px;
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 5px;
	width: 450px;
	height: 275px;
}

#contact-form {
	height: 600px;
	width: 500px;
	margin: 0 auto;
	padding-top: 95px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #424242;
	font-size: 22px;
}

input {
	display: block;
	margin-bottom: 25px;
}

button {
		position: relative;
	}

#search {
	width: 500px;
	height: 40px;
	margin: -100px auto;
}

#textarea-label {
	margin-top: 20px;
}

#search-p {
	font-size: 16px;
	margin: 105px 325px;
	color: #E9E9E9;
}

#submit-button {
	background-color: #3299BB;
	color: white;
	border-radius: 5px;
	width: 80px;
	height: 45px;
	margin-top: 10px;
	border-color: #FF9900;
}

#competitor_slider img {
	width: 550px;
	height: 260px;
	position: absolute;
}

#competitor_slider li {
	list-style: none;
}


