<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clonebase</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>


</head>
<body>
	<div class="nav-wrapper">
		<nav>
			<ul>
				<li><h1 class="logo"><strong>CLONEBASE</strong></h1></li>
				<li class="nav-links"><a href="index.html#home">Home</a></li>
				<li class="nav-links"><a href="index.html#about">About</a></li>
				<li class="nav-links"><a href="companies.html">Search</a></li>
				<li class="nav-links"><a href="index.html#contact">Contact</a></li>
			</ul>
		</nav>
	</div>


	<section id="home" data-stellar-background-ratio="0.5">
	<p>test</p>
	</section>

	<div id="searchedCompany">
	
	<script id="CompanyView" type="text/template">
		<h2>Company: <%= company_name %> </h2>
		<p>Founded: <%= founded %> <p>
	</script>
	
	</div>

	<div id="searchedCompetitors">
	<script id="CompetitorChildView" type="text/template">
		<h2>Company: <%= company_name %> </h2>
		
	</script>
	
	</div>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/tabletop.js"></script>
	<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
	<script type="text/javascript" src="js/backbone.marionette.js"></script>
	<script type="text/javascript" src="js/app.js"></script>


</body>
</html>